# Ejercicios de la Librería Pandas

## Ejercicio 1

Escribir un programa que pregunte al usuario por las ventas de un rango de años y muestre por pantalla una serie con los datos de las ventas indexada por los años, antes y después de aplicarles un descuento del 10%.

In [1]:
import pandas as pd

In [2]:
ventas = input("Ingrese todas las ventas separadas por comas: ").split(",")
ventas = map(float, ventas)

ventas = pd.Series(ventas)
ventasIndexadas = pd.Series([ventas, ventas*0.9], index=["Ventas","Ventas con descuento"])
print(ventasIndexadas)

Ingrese todas las ventas separadas por comas: 1,1,1,1,1
Ventas                  0    1.0
1    1.0
2    1.0
3    1.0
4    1.0
d...
Ventas con descuento    0    0.9
1    0.9
2    0.9
3    0.9
4    0.9
d...
dtype: object

## Ejercicio 2

Escribir una función que reciba una diccionario con las notas de los alumnos en curso en un examen y devuelva una serie con la nota mínima, la máxima, media y la desviación típica.

In [3]:
def datosAlumnos(diccionario):
    datos = pd.Series(diccionario)
    serie = pd.Series({"Minimo": datos.min(), "Maximo":datos.max(), "Media":datos.mean(), "STD":datos.std()})
    return serie

notas = {"Agustin":10, "Jose":9, "Gonzalo":3, "Joaquin":4, "Mariano":5, "Miguel":9}

s = datosAlumnos(notas)
s

Minimo     3.000000
Maximo    10.000000
Media      6.666667
STD        3.011091
dtype: float64

## Ejercicio 3

Escribir una función que reciba una diccionario con las notas de los alumnos en curso en un examen y devuelva una serie con las notas de los alumnos aprobados ordenadas de mayor a menor.

In [4]:
def datosAlumnos(diccionario):
    datos = pd.Series(diccionario)
    return datos.sort_values(ascending = False)

notas = {"Agustin":10, "Jose":9, "Gonzalo":3, "Joaquin":4, "Mariano":5, "Miguel":9}

s = datosAlumnos(notas)
s

Agustin    10
Miguel      9
Jose        9
Mariano     5
Joaquin     4
Gonzalo     3
dtype: int64

## Ejercicio 4

Escribir programa que genere y muestre por pantalla un DataFrame con los datos de la tabla siguiente:
<table>
<thead>
<tr>
<th>Mes</th>
<th style="text-align:right">Ventas</th>
<th style="text-align:right">Gastos</th>
</tr>
</thead>
<tbody>
<tr>
<td>Enero</td>
<td style="text-align:right">30500</td>
<td style="text-align:right">22000</td>
</tr>
<tr>
<td>Febrero</td>
<td style="text-align:right">35600</td>
<td style="text-align:right">23400</td>
</tr>
<tr>
<td>Marzo</td>
<td style="text-align:right">28300</td>
<td style="text-align:right">18100</td>
</tr>
<tr>
<td>Abril</td>
<td style="text-align:right">33900</td>
<td style="text-align:right">20700</td>
</tr>
</tbody>
</table>

In [5]:
datos = {"Mes":["Enero","Febrero","Marzo","Abril"],
         "Ventas":[30500,35600,28300,33900],
         "Gastos":[22000,23400,18100,20700]}

df = pd.DataFrame(datos)
df

       Mes  Ventas  Gastos
0    Enero   30500   22000
1  Febrero   35600   23400
2    Marzo   28300   18100
3    Abril   33900   20700

## Ejercicio 5

Escribir una función que reciba un DataFrame con el formato del ejercicio anterior, una lista de meses, y devuelva el balance (ventas - gastos) total en los meses indicados.

In [6]:
def balance(df, meses):
    newDf = df[df["Mes"].isin(meses)]
    newDf["Balance"] = newDf["Ventas"]-newDf["Gastos"]
    return newDf

meses = ["Febrero", "Marzo", "Abril"]

pp = balance(df, meses)
pp

<ipython-input-6-ec546e5f34fe>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  newDf["Balance"] = newDf["Ventas"]-newDf["Gastos"]

       Mes  Ventas  Gastos  Balance
1  Febrero   35600   23400    12200
2    Marzo   28300   18100    10200
3    Abril   33900   20700    13200

## Ejercicio 6

El archivo <a href="https://drive.google.com/file/d/1V06-QPe36PIIMq0z6Nm8_02mHB1KX_Cu/view?usp=sharing"> cotizacion.csv</a> contiene las cotizaciones de las empresas del IBEX35 con las siguientes columnas: <font color=#B40431>Nombre</font> (nombre de la empresa), <font color=#B40431>Final</font> (precio de la acción al cierre de bolsa), <font color=#B40431>Máximo</font> (precio máximo de la acción durante la jornada), <font color=#B40431>Mínimo</font> (precio mínimo de la acción durante la jornada), <font color=#B40431>Volumen</font> (Volumen al cierre de bolsa), <font color=#B40431>Efectivo</font> (capitalización al cierre en miles de euros). Construir una función que construya un DataFrame a partir del un archivo con el formato anterior y devuelva otro DataFrame con el mínimo, el máximo y la media de dada columna.

In [7]:
import pandas as pd

cotizacion = pd.read_csv('Desktop\df\cotizacion.csv', sep=';', decimal=',')
cotizacion = pd.DataFrame(cotizacion)


def newDataFrame(df):
    modeloDF = {'Minimo':df.min(),
                'Maximo':df.max(),
                'Media':df.mean()}
    
    newDataFrame = pd.DataFrame(modeloDF)
    newDataFrame.fillna(0, inplace=True)
    return newDataFrame

a = newDataFrame(cotizacion)
a

             Minimo    Maximo         Media
Efectivo    2343.09    145765  31767.778000
Final        1.0165     19705   2796.768757
Máximo       4.0675     19875   3170.113357
Mínimo       1.0165     19675   3136.510471
Nombre      ACCIONA  VISCOFAN      0.000000
Volumen   1.054.847    99.506      0.000000

## Ejercicio 7

El fichero <a href="https://drive.google.com/file/d/17KGu5s3mCHLdrg3vuA6sqtLOKZEQYO7c/view?usp=sharing">titanic.csv</a> contiene información sobre los pasajeros del Titanic. Escribir un programa con los siguientes requisitos:
<ol>
<li>Generar un DataFrame con los datos del archivo.</li>
<li>Mostrar por pantalla las dimensiones del DataFrame, el número de datos que contiene, los nombres de sus columnas y filas, los tipos de datos de las columnas, las 10 primeras filas y las 10 últimas filas</li>
<li>Mostrar por pantalla los datos del pasajero con identificador 148.</li>
<li>Mostrar por pantalla las filas pares del DataFrame.</li>
<li>Mostrar por pantalla los nombres de las personas que iban en primera clase ordenadas alfabéticamente.</li>
<li>Mostrar por pantalla el porcentaje de personas que sobrevivieron y murieron.</li>
<li>Mostrar por pantalla el porcentaje de personas que sobrevivieron en cada clase.</li>
<li>Eliminar del DataFrame los pasajeros con edad desconocida.</li>
<li>Mostrar por pantalla la edad media de las mujeres que viajaban en cada clase.</li>
<li>Añadir una nueva columna booleana para ver si el pasajero era menor de edad o no.</li>
<li>Mostrar por pantalla el porcentaje de menores y mayores de edad que sobrevivieron en cada clase.</li>
</ol>

In [142]:
#Punto 1
titanic = pd.read_csv(r'Desktop\df\titanic.csv')

'''
#Punto 2
print("Dimension:", titanic.shape)
print("Tamaño:", titanic.size)
print("Columnas:", titanic.columns)
print("Filas:", titanic.index)
print("Tipos de datos de las columnas:", titanic.columns.dtype)
print("Tipos de datos de las filas:", titanic.index.dtype)
print("10 primeras filas:")
display(titanic.loc[0:10][:])
print("10 ultimas columnas:")
display(titanic.loc[:][-10:])

#Punto 3
titanic3 = titanic[(titanic['PassengerId']==148)]
print("Punto 3:")
display(titanic3)

#Punto 4
titanic4 = titanic.iloc[::2, :]
print("Punto 4: ")
display(titanic4)

#Punto 5
#Entendemos que la clase alta es minoria, por lo cual vamos a ver cuales de los 3 valores (1,2,3) de Pclass es el menor,
#y ese sera el valor de la clase alta
print(titanic[(titanic['Pclass'] == 1)].Pclass.count())
print(titanic[(titanic['Pclass'] == 2)].Pclass.count())
print(titanic[(titanic['Pclass'] == 3)].Pclass.count())
#Concluimos que la clase 2 es la clase alta.

titanix = titanic[(titanic['Pclass'] == 2)].sort_values(['Name'])
titanix.reset_index(drop=True, inplace=True)
titanix = titanix.loc[:, ['Name', 'Survived', 'Age']]
display(titanix)

#Punto 6
survived = titanic[(titanic['Survived']==1)]
not_survived = titanic[(titanic['Survived']==0)]

total_survived = survived.Survived.count()
total_death = not_survived.Survived.count()
total_passengers = total_survived + total_death


print("Porcentaje de sobrevivientes: ", total_survived/total_passengers)
print("Porcentaje de muertes: ", total_death/total_passengers)


#Punto 7


#Punto 8
titanic8 = titanic[titanic.Age.notnull()]
titanic8.reset_index(drop=True, inplace=True)
print("Punto 8: ")
display(titanic8)


#Punto 10
titanic10 = pd.DataFrame.copy(titanic8)
c = [x<=18 for x in titanic8['Age']]

titanic10['Menor_Edad'] = c
print("Punto 10: ")
display(titanic10)
'''

#Punto 11

data_menor = [[titanic10[((titanic10['Survived']==1) & (titanic10['Menor_Edad']==True)) & (titanic10['Pclass']==1)],
               titanic10[((titanic10['Survived']==0) & (titanic10['Menor_Edad']==True)) & (titanic10['Pclass']==1)]],
              [titanic10[((titanic10['Survived']==1) & (titanic10['Menor_Edad']==True)) & (titanic10['Pclass']==2)],
               titanic10[((titanic10['Survived']==0) & (titanic10['Menor_Edad']==True)) & (titanic10['Pclass']==2)]],
              [titanic10[((titanic10['Survived']==1) & (titanic10['Menor_Edad']==True)) & (titanic10['Pclass']==3)],
               titanic10[((titanic10['Survived']==0) & (titanic10['Menor_Edad']==True)) & (titanic10['Pclass']==3)]]]

data_mayor = [[titanic10[((titanic10['Survived']==1) & (titanic10['Menor_Edad']==False) & (titanic10['Pclass']==1))],
               titanic10[((titanic10['Survived']==0) & (titanic10['Menor_Edad']==False) & (titanic10['Pclass']==1))]],
              [titanic10[((titanic10['Survived']==1) & (titanic10['Menor_Edad']==False) & (titanic10['Pclass']==2))],
               titanic10[((titanic10['Survived']==0) & (titanic10['Menor_Edad']==False) & (titanic10['Pclass']==2))]],
              [titanic10[((titanic10['Survived']==1) & (titanic10['Menor_Edad']==False) & (titanic10['Pclass']==3))],
               titanic10[((titanic10['Survived']==0) & (titanic10['Menor_Edad']==False) & (titanic10['Pclass']==3))]]]

total_menor = [[data_menor[0][0].Survived.count(),
                data_menor[0][1].Survived.count()],
               [data_menor[1][0].Survived.count(),
                data_menor[1][1].Survived.count()],
               [data_menor[2][0].Survived.count(),
                data_menor[2][1].Survived.count()]]

total_mayor = [[data_mayor[0][0].Survived.count(),
                data_mayor[0][1].Survived.count()],
               [data_mayor[1][0].Survived.count(),
                data_mayor[1][1].Survived.count()],
               [data_mayor[2][0].Survived.count(),
                data_mayor[2][1].Survived.count()]]

total_passengers_c1 = total_survived_menor_c1+total_survived_mayor_c1+total_death_menor_c1+total_death_mayor_c1
total_passengers_c2 = total_survived_menor_c2+total_survived_mayor_c2+total_death_menor_c2+total_death_mayor_c2
total_passengers_c3 = total_survived_menor_c3+total_survived_mayor_c3+total_death_menor_c3+total_death_mayor_c3

print("Porcentaje de sobrevivientes menores de edad de la clase 1: ", total_menor[0][0]/total_passengers_c1)
print("Porcentaje de sobrevivientes menores de edad de la clase 2: ", total_menor[1][0]/total_passengers_c2)
print("Porcentaje de sobrevivientes menores de edad de la clase 3: ", total_menor[2][0]/total_passengers_c3)

print("\nPorcentaje de sobrevivientes mayores de edad de la clase 1: ", total_mayor[0][0]/total_passengers_c1)
print("Porcentaje de sobrevivientes mayores de edad de la clase 2: ", total_mayor[1][0]/total_passengers_c2)
print("Porcentaje de sobrevivientes mayores de edad de la clase 3: ", total_mayor[2][0]/total_passengers_c3)

Porcentaje de sobrevivientes menores de edad de la clase 1:  0.07526881720430108
Porcentaje de sobrevivientes menores de edad de la clase 2:  0.1329479768786127
Porcentaje de sobrevivientes menores de edad de la clase 3:  0.09295774647887324

Porcentaje de sobrevivientes mayores de edad de la clase 1:  0.5806451612903226
Porcentaje de sobrevivientes mayores de edad de la clase 2:  0.3468208092485549
Porcentaje de sobrevivientes mayores de edad de la clase 3:  0.14647887323943662

## Ejercicio 8

Los archivos <a href="https://drive.google.com/file/d/1Ms2r2k6DscmL7ymRZp6bXk3Z-RWsqtjz/view?usp=sharing">emisiones-2016.csv</a>, <a href="https://drive.google.com/file/d/1R5JLin8d2BhHFKSQhX2hP2bGPRCvR8Xj/view?usp=sharing">emisiones-2017.csv</a>, <a href="https://drive.google.com/file/d/1qoB3OcPDUkerswT02uAvLshTT7J0qTWQ/view?usp=sharing">emisiones-2018.csv</a> y <a href="https://drive.google.com/file/d/1pAbH8EwHm9KkUzyiy56auH0DvLT_DkAO/view?usp=sharing">emisiones-2019.csv</a>, contienen datos sobre las emisiones contaminates en la Ciudad Autónoma de Buenos Aires en los años 2016, 2017, 2018 y 2019 respectivamente. Escribir un programa con los siguientes requisitos:
<ol>
<li>Generar un DataFrame con los datos de los cuatro archivos.</li>
<li>Filtrar las columnas del DataFrame para quedarse con las columnas ESTACION, MAGNITUD, AÑO, MES y las correspondientes a los días D01, D02, etc.</li>
<li>Reestructurar el DataFrame para que los valores de los contaminantes de las columnas de los días aparezcan en una única columna.</li>
<li>Añadir una columna con la fecha a partir de la concatenación del año, el mes y el día (usar el módulo <font color=#B40431>datetime</font>).</li>
<li>Eliminar las filas con fechas no válidas (utilizar la función <font color=#B40431>isnat</font> del módulo <font color=#B40431>numpy</font>) y ordenar el DataFrame por estaciones, contaminantes y fecha.</li>
<li>Mostrar por pantalla las estaciones y los contaminantes disponibles en el DataFrame.</li>
<li>Crear una función que reciba una estación, un contaminante y un rango de fechas y devuelva una serie con las emisiones del contaminante dado en la estación y rango de fechas dado.</li>
<li>Mostrar un resumen descriptivo (mímino, máximo, media, etc) para cada contaminante.</li>
<li>Mostrar un resumen descriptivo para cada contaminante por distritos.</li>
<li>Crear una función que reciba una estación y un contaminante y devuelva un resumen descriptivo de las emisiones del contaminante indicado en la estadión indicada.</li>
<li>Crear una función que devuelva las emisiones medias mensuales de un contaminante y un año dados para todos las estaciones.</li>
<li>Crear un función que reciba una estación de medición y devuelva un DataFrame con las medias mensuales de los distintos tipos de contaminantes.</li>
</ol>